<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291226983840-vq442j72dicttnq5j0lo3o7reoqpl2uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291226983840-vq442j72dicttnq5j0lo3o7reoqpl2uj</string>
	<key>API_KEY</key>
	<string>AIzaSyC2WzZ9h_jOacuEKFSP-znHHcJqEdAuws4</string>
	<key>GCM_SENDER_ID</key>
	<string>291226983840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boostBallistics</string>
	<key>PROJECT_ID</key>
	<string>boost-ballistics</string>
	<key>STORAGE_BUCKET</key>
	<string>boost-ballistics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291226983840:ios:4bc74963de4a2e5472d8c5</string>
</dict>
</plist>